.advice {
    background-color: #2A2C2C;
    border-radius: var(--border-radius);
    font-family: var(--font-mono);
    height: auto;
    max-width: 24rem;
    min-width: 17rem;
    padding: 2rem;
    text-align: center;
}

.headerText {
    color: #FFF;
    font-size: 2rem;
}

.paragraph {
    color: #FFF;
    font-size: 1.2rem;
    margin: 2rem 0;
}

.button {
    --color: #259409;

    background-color: var(--color);
    border: 2px solid var(--color);
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    user-select: none;
}

.button:hover {
    --color: #57AB41;
}
