.banner {
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 1rem;
}

.banner.online {
    --bg-color: green;
}

.banner.offline {
    --bg-color: red;
}
